certifi==2020.6.20
chardet==3.0.4
docutils==0.16
idna==2.10
Kivy==1.11.1
Kivy-Garden==0.1.4
mysql-connector==2.2.9
Pygments==2.6.1
requests==2.24.0
urllib3==1.25.10

kivymd~=0.104.1
Pillow~=7.2.0
pip~=20.2
Cython~=0.29.21
setuptools~=49.2.0
pexpect~=4.8.0
ptyprocess~=0.6.0
buildozer~=1.2.0
virtualenv~=20.0.31
distlib~=0.3.1
six~=1.15.0
filelock~=3.0.12
appdirs~=1.4.4
zipp~=3.1.0
sh~=1.13.1